<div class="box">
<table>
	<tr>
		<td>Mood</td>
		<td>Adjectives</td>
		<td>User</td>
	</tr>
	<% @moods.each do |mood| %>
	<tr>
		<td><%=link_to mood.feeling, mood_path(mood.id)%></td>
		<td><%=mood.adjective%></td>
		<td><%=mood.user_id%></td>
		<td class="changes"><%=link_to "edit", edit_mood_path(mood.id)%></td>
		<td class="changes"><%=link_to "delete", mood, method: :delete%></td>
	</tr>
	<% end %>
</table>
</div>