<div class="box">
<%= form_for(@mood) do |f| %>
	<div class="field">
		<p>Feeling</p>
		<%=f.text_field :feeling%>
	</div>
	<div class="field">
		<p>Adjective</p>
		<%=f.text_field :adjective%>
	</div>
	<div class="field">
		<p>Phonenumber (ex 12155556789, no formatting)</p>
		<%=f.text_field :phonenumber%>
	</div>
	<div class="field">
		<%=f.hidden_field :user_id, :value=> current_user.id%>
	</div>
	<div class="actions">
		<%=f.submit%>
	</div>
	<div class="error-msg">
		<%if @mood.errors.any?%>
		<ul>
			<%@mood.errors.full_messages.each do |msg| %>
			<li><%=msg%></li>
			<%end%>
		</ul>
		<%end%>
	</div>
<% end %>
</div>